* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  line-height: 1.5;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-size: 16px;
}
.container {
  display: flex;
  height: 400px;
  max-width: 90%;
  gap: 20px;
}
.card {
  border-radius: 30px;
  background-size: cover ;
  position: relative;
  width: 400px;
  cursor: pointer;
  transition: flex .8s ease-in-out;
  flex: 2;
}
.card.active{
  flex: 5;
    /* width: 1200px; */
}
.card h3 {
  opacity: 0;
  color: white;
  position: absolute;
  left: 20px;
  bottom: 20px;
  transition: opacity 0.5s ease-in-out ;
}
.card.active h3{
  opacity: 1;
}
/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 80%;
    height: 90%;
  }
  .card {
    height: 500px;
    width: -webkit-fill-available;
    border-radius: 10px;
  }
  .card.active{
    width: -webkit-fill-available;
    height: 1400px;
}
  .card h3 {
    color: white;
    position: absolute;
    left: 20px;
  }
}
